# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
.DS_Store

# tests
/test
/coverage
/.nyc_output
test-schema.graphql
*.test-definitions.ts

# dist // gonna add the dist to be able to find it when we use npm install
#/dist  